
#wrapper
{
    width: 80%;
    min-height: 100%;
    background-color: rgb(255, 174, 0);;
    margin-left: 10%;
    border-radius: 10px;
}

#header
{
    padding-left: 40%;
    padding-top: 20%;
    font-family: "MV Boli";
    transition: 1s;
}

#loginButton
{
    border: 0px;
    border-radius: 10px;
    background-color: rgb(235, 121, 28);
    width: 140px;
    height: 70px;
    margin-left: 41%;
    font-family: "MV Boli";
    font-size: 24px;
}

#enterButton
{
    padding-bottom: 27%;
}

#loginPage
{
    padding-left: 20%;
    padding-right: 20%;
    font-family: "MV Boli";
    display: none;
    height: 0;
    transition: 1.5s;
}

#login-button
{
    border:  0px;
    border-radius: 3px;
    background-color: rgb(235, 121, 28);
    width: 100px;
    height: 50px;
    font-family: "MV Boli";
    font-size: 24ox;
    text-decoration: none;
}

#enterBox
{
    border-radius: 10px;
    height: 30px;
    width: 200px;
}